.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-add{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.card-detail{
  width: 60%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.title{
  font-size:x-large;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4e73df;
}

.form-label{
  font-size: medium;
  font-weight: bold;
}

.card-detail button{
  width: 150px;
}